# ---------------------------
# Sistema operativo / IDE
# ---------------------------
.DS_Store
.vscode/
*.swp

# ---------------------------
# Python
# ---------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
venv/
env/
*.egg-info/
dist/
build/

# ---------------------------
# Node / React Native
# ---------------------------
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.expo/
.expo-shared/

# ---------------------------
# Docker
# ---------------------------
*.log
*.pid
*.env
docker-compose.override.yml

# ---------------------------
# Misc / Backup
# ---------------------------
*.bak
*.swp
*.swo
